name: Tests

on:
  push:
  pull_request:
    branches: [ main ]

jobs:
  run_unit_tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Install unit test dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run unit tests
        run: |
          cd tests/unit_tests
          python3 -m unittest test_animal_data.py
          python3 -m unittest test_create_plots.py
          python3 -m unittest test_correlations.py
          python3 -m unittest test_cell_slicer.py
          python3 -m unittest test_normalize_df.py

  run_func_tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - name: Install functional test dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run functional tests
        run: |
          pip install -r requirements.txt
          cd tests/functional_tests
          chmod +x test_create_plots.sh
          ./test_load_data.sh
          ./test_create_plots.sh
          chmod +x test_show_correlations.sh
          ./test_show_correlations.sh
          ./test_cell_slicer.sh
          ./test_normalize_data.sh


  # Run Code Style Check
  run_style_check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
          python-version: 3.8
    - run: pip install pycodestyle
    # run pycodestyle on all python files in the repo
    - run: pycodestyle $(git ls-files "*.py")
